@tailwind base;
/* Customize the Base */
@layer base {
  h1 {
    @apply text-2xl transform-none mb-10;
  }
  h2 {
    @apply text-xl transform-none mb-8;
  }
  h3 {
    @apply text-lg transform-none mb-4 text-left;
  }
  html,
  body {
    @apply p-0 m-0 bg-dark;
    font-family: 'Inter', sans-serif; /* Changing the font to Inter */
    color: white; /* Changing the text color to white */
    min-height: 100vh; /* Making the body at least 100% of the viewport height */
  }
  p {
    @apply mb-4 transform-none;
  }
}

@tailwind components;
@tailwind utilities;